<h1>DAILY DISCOVERIES</h1>

<div class="card-container">
    <div class="card1">
        <h2>Product 1</h2>
        <p>₱9.99</p>
        <button>Add to Cart</button>
    </div>
    <div class="card2">
        <h2>Product 2</h2>
        <p>₱29.99</p>
        <button>Add to Cart</button>
    </div>
    <div class="card3">
        <h2>Product 3</h2>
        <p>₱39.99</p>
        <button>Add to Cart</button>
    </div>
    <div class="card4">
        <h2>Product 4</h2>
        <p>₱49.99</p>
        <button>Add to Cart</button>
    </div>