<div class="products-section-title">
    <h1>DAILY DISCOVERY</h1>
</div>

<div *ngFor = "let products of products; let i =index" class = "procucts-card" [class.highlighted] = 'products.isFavorite">
    <h3>{{ i + 1 }}. {{products.name}}</h3>
    <span *ngIf = "products.isActive; else inactiveBadge" class = "Active Badge"</span>
        Preferred
    </span>
    <ng-template #inactiveBadge>
        <span class = "Inactive Badge"></span>
    </ng-template>
    <p>{{products.price}} - {{products.image}} - {{products.description}}</p>

    <div class = "button-group'>
        <button
        class = "favorite-button"
        [class.active] = "products.isFavorite"
        (click) = "products.isFavorite(products)"> 
        {{ products.isFavorite ? 'Unfavorite' : 'Favorite' }}
        </button>
        <button
        class = "add to cart-button"
        (click) = "addToCart(products)">
            Add to Cart
        </button>
    </div>
</div>  